* {
    margin: 0;
    padding: 0;
  }
  
html {
    scroll-behavior: smooth;
  }

body {
    font-family:'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
  }
  
@media (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Arapey', serif;
    font-weight: 400;
  }

img {
  display: block;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 8px;
}
  
  @media (max-width: 1400px) {
    .container {
      width: 1200px;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
      width: 992px;
    }
  }
  
  @media (max-width: 1024px) {
    .container {
      width: 768px;
    }
  }
  
  @media (max-width: 800px) {
    .container {
      width: 576px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      width: 100%;
    }
  }

header {
  margin-top: 20px;
}

header nav {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.nav_link:first-child {
  margin-right: 40px;
}

@media (min-width: 1024px) {
  header nav {
    justify-content: end;
  }

  .nav_link:first-child {
    margin-right: 100px;
  }
}

.nav_link a {
  text-decoration: none;
  color: #000;
  transition-duration: 0.3s;
}

.nav_link a:hover {
  color: #598D66;
}

.about {
  margin-bottom: 40px;
}

.about p {
  font-size: 32px;
  margin-bottom: 120px;
}

.about h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.portfolio {
  margin-bottom: 60px;
}

.works {
  display: grid;
  gap: 30px;
}

@media (min-width: 1024px) {
  .works {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .about h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }
}

.works_link {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    display: block;
    transition-duration: 0.3s;
}

.works_link:hover {
  color: #598D66;
}

.works__link-img {
  display: block;
  height: 90%;
  max-height: 600px;
  overflow: hidden;
}

.works__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition-duration: 0.3s;
}

.works__img:hover {
  transform: scale(1.1);
}

footer {
  background: #000;
  color: #fff;
}

.footer__nav {
  padding: 24px 0;
}

.footer__link {
  display: block;
}

.contacts_item:first-child {
  margin-bottom: 12px;
}

.contacts_item a {
  color: #fff;
  transition-duration: 0.3s;
}

.contacts_item a:hover {
  color: #598D66;
}

@media (min-width: 1024px) {
  .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts_item:first-child {
    margin-bottom: 0;
  }
}