/*main*/

body {
    font-size: 22px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    width: 1180px;
    margin: 0 auto;
}


/*header*/

.head {
    width: 100%;
    position: fixed;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    top: 0;
    border-bottom: 1px solid #ACA1A1;
    border-width: 100%;
    z-index: 2;
}

.head_wrapper {
    width: 1180px;
    margin: 0 auto;
}

.desktop {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

/*logo*/

.logo {
    display: grid;
}

.logotype {
    grid-column: 10;
    grid-row: 10;
    z-index: 1;
}

.logo_text {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

.logofig {
    width: 60px; 
    height: 60px;
    background: #9BC687;
    border-radius: 50%;
    grid-column: 10;
    grid-row: 10;
    margin-left: 20px;
    margin-top: 12px;
}

/*menu*/

.menu_img {
    width: 25px;
    height: 25px;
}

.list {
    list-style: none;
    padding: 0;
}

.list_item {
    display: inline-block;
    margin: 0 25px;
}

.item {
    text-decoration: none;
    color: #000;
    display: block;
}

.item:hover {
    color: #668A55;
    transition-duration: 0.5s;
}

.current {
    color: #668A55;
}

.mob_gallery {
    display: flex;
}

.mob_menu {
    display: none;
    flex: none;
}

/*dropmenu*/

.dropmenu {
    display: none;
    list-style: none;
    position: fixed;
    padding: 0;
    margin-left: -55px;
    margin-top: 3px;
}

.gallery:hover .dropmenu{
    display: block;
}

.drop_item {
    background: #9BC687;
    margin-top: 2px;
    padding: 3px 52px;
}

.drop {
    text-decoration: none;
    color: #fff;
}

.drop:hover {
    color: #000;
    transition-duration: 0.5s;
}

.line {
    font-size: 12px;
    font-weight: 800;
    margin: 0;
}

.end {
    visibility: hidden;
}

.menu_btn {
    display: none;
}

.gallery_dm {
    display: flex;
    justify-content: center;
}

.arrow {
    width: 13px;
    height: 13px;
}

.dm_img {
    margin-left: 10px;
}

.menu_img {
    height: 25px;
    width: 25px;
}

.mob_list_item {
    font-size: 30px;
    margin: 20px 0;
}

.mob_drop_item {
    margin: 20px 0;
}

.mob_menu {
    margin-top: 90px;
    text-align: center;
}

.mob_list {
    list-style: none;
}

.mob_dm {
    list-style: none;
}

.mob_drop {
    color: #fff;
    text-decoration: none;
}

/*section 1 home*/

.info_wrapper {
    margin-top: 150px;
}

.title {
    text-align: center;
    margin-top: 59px;
}

.intro {
    text-align: center;
    letter-spacing: 0.07em;
    line-height: 1.6em;
    margin-top: 14px;
    margin-bottom: 40px;
}

.pics {
    display: flex;
    justify-content: space-between
}

.pic {
    width: 33%;
}

#pics {
    z-index: 1;
    text-align: center;
    width: 100%;
}

#pics:hover {
    filter: opacity(80%);
    transition-duration: 0.5s;
}

.button {
    margin-top: 40px;
    text-align: center;
}

.btn {
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    border-radius: 50px;
    padding: 14px 47px;
}

.btn:hover {
    border: none;
    background: #9BC687;
    color: #fff;
    transition-duration: 0.5s;
}

.btn_home {
    margin-bottom: 63px;
}


/*section 1 about*/

.title_me {
    text-align: center;
    margin-bottom: 50px;
}

.me_img {
    width: 45%;
}

.kazan {
    text-align: right;
}

.me {
    width: 90%;
}

.me:hover {
    filter: opacity(80%);
    transition-duration: 0.5s;
}

.up_info {
    display: flex;
    margin-bottom: 82px;
    justify-content: space-between
}

.down_info {
    display: flex;
    justify-content: space-between
}

.text {
    width: 55%;
    letter-spacing: 0.07em;
    line-height: 160%;
    align-self: center;

}

.education {
    text-align: right;
}

.about {
    margin-bottom: 127px;
}

.btn_about {
    margin-top: 50px;
    text-align: right
}


/*section 1 contact*/

.contact {
    display: flex;
    margin-bottom: 96px;
    justify-content: space-between
}

.git {
    font-size: 50px
}

#map {
    width: 31px;
    height: 31px;
}

#map:hover {
    filter: invert(0.6);
    transition-duration: 0.5s;
}

.right {
    width: 49%;
    text-align: center;
    align-self: center;
}

.left {
    align-self: center;
    width: 45%;
}

.mob_down {
    display: none;
}

.form_text {
    font-size: 26px;
}

.location {
    display: flex;
    margin-top: 28px;
    justify-content: center;
}

.place {
    margin: 0;
    font-size: 26px;
}

.im_map {
    margin-left: 10px;
}

.form_text {
    margin: 2px 0;
}

.form_cell {
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 15px 80px;
}

.mes {
    padding: 25px 80px;
    border: 2px solid black;
}

.form_btn {
    background: #fff;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    padding: 10px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

.form_btn:hover {
    cursor: pointer;
}


/*section 1 mobile*/

.slide_title {
    text-align: center;
    margin: 15px 0;
}

.slideshow {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.slider {
    align-self: center;
    width: 10%;
}

/*photos*/

.slides {
    display: flex;
    justify-content: space-between
}

.sl_pic {
    width: 100%;
}

.prev, .next {
    cursor: pointer
}

.slide {
    width: 33%;
}

.un {
    display: none;
}

.ar_slide {
    width: 40px;
    height: 40px;
}

#arrow_left { 
    transform: rotate(90deg);
    margin-right: 10px;
}

#arrow_right {
    transform: rotate(-90deg);
    margin-left: 10px;
}

#arrow_left:hover {
    filter: invert(0.6);
    transition-duration: 0.5s;
}

#arrow_right:hover {
    filter: invert(0.6);
    transition-duration: 0.5s;
}

.slide_title {
    margin-top: 50px;
}


/*section 1 camera*/

.det {
    width: 100%;
}

.det_slide {
    width: 49%;
}

/*footer*/

.footer {
    background: #9BC687;
    padding-top: 55px;
    padding-bottom: 60px;
}

.down {
    font-size: 24px;
    text-align: center;
    margin-bottom: 23px;
}

.socials {
    text-align: center;
}

#sn {
    width: 31px;
    height: 31px;
}

.social {
    text-decoration: none
}

#sn:hover {
    filter: invert(1);
    transition-duration: 0.5s;
}



/*Адаптивность*/

/* 993px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .head {
        width: 100%;
    }

    .head_wrapper {
        width: 960px;
    }

}


/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .head_wrapper {
        width: 720px;
    }

    .head {
        width: 100%;
    }

    .list_item {
        margin: 0 15px;
    }

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    .head_wrapper {
        width: 540px;
    }

    .head {
        width: 100%;
        border: none;
    }

    .menu {
        display: none;
    }

    .end {
        display: none;
    }

    .menu_btn {
        display: block;
        align-self: center;
    }

    .pics {
        display: block;
        text-align: center;
    }

    .pic {
        width: 80%;
        margin: 10px auto;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        margin: 0 auto;
    }

    .mob_down {
        display: block;
        margin-bottom: 70px
    }

    .img_cont {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .form_cell {
        width: 90%
    }

    .mes {
        padding: 20px 40px;
        width: 75%
    }

    .slide_title {
        font-size: 30px
    }

    .ar_slide {
        width: 20px;
        height: 20px
    }

    .mob_un {
        display: none;
    }

    .slide {
        width: 49%
    }

    .up_info {
        display: block;
        margin-bottom: 0
    }

    .down_info {
        display: block;
    }

    .text {
        width: 90%;
        text-align: center;
    }

    .btn_about {
        text-align: center;
    }

    .me_img {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;

    }

    .head_wrapper {
        width: 90%;
    }

    .head {
        width: 100%;
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 20px
    }
}
