* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
  src: url(fonts/helvetica_regular.otf);
  color: #212529;
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

h3 {
  font-size: 24px;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 36px;
  }
}

img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu_link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
}

.menu_link:hover:before {
  width: 100%;
}

.menu_link::before {
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.hidden {
  visibility: hidden;
  display: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 8px;
}

@media (max-width: 1400px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

header {
  margin: 16px 0 20px;
}

header .desktop_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

header .desktop_nav .logo {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

header .desktop_nav .logo img {
  width: 40px;
}

@media (min-width: 1024px) {
  header .desktop_nav .logo img {
    width: 70px;
  }
}

header .desktop_nav ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
}

header .desktop_nav .contact {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header .desktop_nav li:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  header .desktop_nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 1024px) {
  header {
    margin-bottom: 48px;
    margin: 12px 0 32px;
  }
}

.burger_nav {
  position: absolute;
  z-index: 2;
  background: #ECECEC;
  height: 100vh;
  top: 0;
  left: 60vw;
  width: 40vw;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
}

.burger_btn {
  background: none;
  border: none;
  float: right;
  width: 30px;
  margin-bottom: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.burger_btn img {
  color: black;
}

.burger_nav li:not(:last-child) {
  margin-bottom: 20px;
}

main, .about, .steps, .projects, .responses, .contact {
  margin-bottom: 48px;
}

@media (min-width: 1024px) {
  main, .about, .steps, .projects, .responses, .contact {
    margin-bottom: 120px;
  }
}

main h1 {
  font-size: 32px;
}

@media (min-width: 1024px) {
  main h1 {
    font-size: 72px;
  }
}

main p {
  margin: 20px 0 24px;
  font-size: 16px;
}

@media (min-width: 1024px) {
  main p {
    font-size: 20px;
    margin: 0;
  }
}

main .main_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

main .main_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main_bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_btn {
  position: relative;
  text-decoration: none;
  margin-bottom: 26px;
  font-size: 18px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

@media (min-width: 1024px) {
  .main_btn {
    margin-bottom: 0;
  }
}

.main_btn:hover {
  color: #DDD7C0;
}

.main_btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.main_btn:hover:before {
  width: 0;
  background-color: #DDD7C0;
}

.main_btn::before {
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.main_image {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1024px) {
  .about h2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    line-height: 1.5em;
  }
}

.about h3 {
  line-height: 1.3em;
}

.about p:not(:last-child) {
  margin-bottom: 16px;
}

.about_text {
  margin-bottom: 32px;
  font-size: 16px;
}

@media (min-width: 1024px) {
  .about_text {
    width: 450px;
  }
}

.about_point_item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .about_info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    line-height: 1.3em;
  }
}

.steps_info {
  margin-bottom: 28px;
}

@media (min-width: 1024px) {
  .steps_info {
    margin-bottom: 0;
  }
}

.steps p {
  margin: 16px 0 20px;
}

.steps_item {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .steps .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .steps .steps_right {
    width: 50%;
  }
  .steps_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .steps p, .steps h3 {
    width: 50%;
  }
  .steps_info {
    margin-bottom: 44px;
  }
}

.projects_info {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.projects_info_item {
  overflow: hidden;
  position: relative;
}

.projects_info_item img {
  width: 100%;
}

@media (min-width: 1024px) {
  .projects_info {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .projects_info_item:hover {
    cursor: pointer;
  }
  .projects_info_item .project_name {
    -webkit-animation-name: unshowProjectName;
            animation-name: unshowProjectName;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .projects_info_item:hover .project_name {
    -webkit-animation-name: showProjectName;
            animation-name: showProjectName;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .projects_info_item img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .projects_info_item:hover img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes showProjectName {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes showProjectName {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes unshowProjectName {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50px;
  }
}

@keyframes unshowProjectName {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50px;
  }
}

.project_name {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 16px 20px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  background: #21252980;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1024px) {
  .project_name {
    bottom: -50px;
  }
}

.project_name img {
  width: 12px;
}

.responses_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 32px 32px 36px;
}

.responses_item:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .responses_item:not(:last-child) {
    margin-bottom: 0;
  }
}

.responses_item_user {
  margin: 36px 0 20px;
  font-weight: bold;
}

.responses_item_text {
  text-align: center;
}

@media (min-width: 1024px) {
  .responses_items {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.contact p {
  margin-bottom: 32px;
}

.contact input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  outline: none;
}

@media (min-width: 1024px) {
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .contact_image {
    margin-right: 130px;
  }
}

.area_text {
  position: relative;
}

.contact__input {
  background: none;
}

.contact__label {
  position: absolute;
  top: 20px;
  z-index: -1;
  -webkit-animation: labelDown;
          animation: labelDown;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.labelUp {
  -webkit-animation: labelUp;
          animation: labelUp;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes labelUp {
  0% {
    top: 30px;
  }
  100% {
    top: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes labelUp {
  0% {
    top: 30px;
  }
  100% {
    top: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes labelDown {
  0% {
    top: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    top: 30px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes labelDown {
  0% {
    top: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    top: 30px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.contact__btn {
  border: none;
  background: #212529;
  color: #fff;
  padding: 14px 20px;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: changeBtnColorBack;
          animation: changeBtnColorBack;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin-top: 20px;
  font-size: 16px;
}

.contact__btn:hover {
  -webkit-animation: changeBtnColor;
          animation: changeBtnColor;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

@-webkit-keyframes changeBtnColor {
  0% {
    background: #212529;
    color: #fff;
  }
  100% {
    background: #CBC6B2;
    color: #212529;
  }
}

@keyframes changeBtnColor {
  0% {
    background: #212529;
    color: #fff;
  }
  100% {
    background: #CBC6B2;
    color: #212529;
  }
}

@-webkit-keyframes changeBtnColorBack {
  0% {
    background: #CBC6B2;
    color: #212529;
  }
  100% {
    background: #212529;
    color: #fff;
  }
}

@keyframes changeBtnColorBack {
  0% {
    background: #CBC6B2;
    color: #212529;
  }
  100% {
    background: #212529;
    color: #fff;
  }
}

footer {
  margin-bottom: 20px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  footer nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .nav_links {
  margin-bottom: 24px;
}

footer .nav_links a:first-child {
  margin-right: 40px;
}

footer .nav_rules {
  text-align: center;
  margin-bottom: 28px;
}

footer .nav_rules a {
  display: block;
}

@media (min-width: 1024px) {
  footer .nav_rules a {
    display: inline;
  }
}

footer .nav_rules a :first-child {
  margin-bottom: 8px;
}

footer .nav_rules span {
  display: inline;
}

footer .nav_rights {
  text-align: center;
}

@media (min-width: 1024px) {
  footer .nav_rights {
    text-align: left;
  }
}

.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 10px;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
  content: '';
  top: -12px;
}

.burger-menu_lines::after {
  content: '';
  top: 12px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  background-color: #ECECEC;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_link {
  padding: 18px 35px;
  text-decoration: none;
  color: #212529;
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */